
body{
  background-color:#808080;
  margin:0px;
}

#website_header{
background:#FFFFFF;
width:1200px;
height:75px;
position:absolute;
left:0px;
top:0px;
}

a#ad{
  font-family: Verdana, sans-serif;
  font-weight:bold;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;

  margin-top: 0px;
  margin-right: 20px;
  margin-bottom: 0px;
  margin-left: 35px;
  color:black;
  text-decoration:none;
}


#menu{
background:#4169E1;
color:white;
width:1200px;
height:50px;
position:absolute;
left:0px;
top:75px;
}

a#aa{
  font-family: Verdana, serif;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;

  margin-top: 0px;
  margin-right: 20px;
  margin-bottom: 0px;
  margin-left: 45px;
  color:white;
  text-decoration:none;
}
a#aa:hover{
  color:red;
}

a#ab{
  font-family: Verdana, serif;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;

  margin-top: 0px;
  margin-right: 20px;
  margin-bottom: 0px;
  margin-left: 20px;
  color:white;
  text-decoration:none;
}
a#ab:hover{
  color:red;
}

a#ac{
  font-family: Verdana, serif;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;

  margin-top: 0px;
  margin-right: 20px;
  margin-bottom: 0px;
  margin-left: 20px;
  color:white;
  text-decoration:none;
}
a#ac:hover{
  color:red;
}



#content{
background:#FFFFFF;
width:1200px;
height:2000px;
position:absolute;
left:0px;
top:125px;
}


#news{
width:1200px;
height:50px;
position:absolute;
left:100px;
top:250px;
color:white;
} 

p#bb{
  font-family: Verdana, serif;
  font-size:60px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;

  margin-top: 0px;
  margin-right: 20px;
  margin-bottom: 0px;
  margin-left: 35px;
  color:white;
}

#newsq{
  width:1200px;
  height:50px;
  position:absolute;
  left:100px;
  top:8000px;
  color:AntiqueWhite;
}

p#aj{
  font-family: Verdana, serif;
  font-size:60px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;

  margin-top: 0px;
  margin-right: 20px;
  margin-bottom: 0px;
  margin-left: 35px;
  color:black;
}



#footer{
background:#4169E1;
width:1200px;
height:50px;
position:absolute;
left:0px;
top:2125px;
}
     